/* ============================
   HERO SECTION
   ============================ */
.hero {
    position: relative;
    width: 100%;
    min-height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 55px;
    background-image: url('/public/imgs/vertical_evolve.jpg');
    background-size: cover; /* Ajusta la imagen al tamaño de la pantalla */
    background-repeat: no-repeat; /* para que no se repita la imagen */
    background-position: center; 
    background-attachment: fixed;
}

.hero__overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
}

.hero__content {
    position: relative;
    z-index: 1;
    padding: 1.2rem;
}

.hero__title {
    font-family: var(--font-heading);
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    line-height: 1.2;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.hero__cta {
    display: inline-block;
    padding: 12px 28px;
    background-color: var(--color-yellow);
    color: var(--color-white);
    font-family: var(--font-heading);
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 2px solid var(--color-yellow);
    border-radius: 5px;
    transition: all 0.3s;
}

.hero__cta:hover {
    background-color: transparent;
    color: var(--color-yellow);
}

/* ============================
   MEDIA QUERIES — Desktop
   ============================ */

@media (min-width: 1024px) {
    /* Desktop */
    .hero {
        min-height: 90vh;
        margin-top: 60px;
        background-image: url('/public/imgs/id_hero_section.jpg');
    }

    .hero__title {
        font-size: 4rem;
    }

    .hero__cta {
        font-size: 1rem;
        padding: 14px 35px;
    }


}